
 .________ _________ _/\ _________ ___ ___/_
 \_   _   \_       /    \_       /    /   \_
  /   /    /   /___\-    /   /___\   _     /
 /   /    /  /-   \     /  /-   \    /    /
 \_______/________/__  /________/____\____\
                     \/
Ansible version: ANSIBLE_VERSION
Container version: {{ manager_version }}
Ceph Ansible version: {{ ceph_ansible_version }}


